# ===============================
# Django Frontend
# ===============================
Django>=5.0

# ===============================
# HTTP Client (to talk to FastAPI backend)
# ===============================
requests

# ===============================
# Environment Variables
# ===============================
python-dotenv

gunicorn
